body{
  background: #f9f9f0;
}

.page {
  background: #fafafa;
  border: 1px solid lightgray;
}

header {
  color: white;
}

nav{
  background: white;
}

nav > a {
  color: black;
  background: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
}

nav > a:hover {
  background: rgb(226, 226, 226);
}
