.page {
  background: #fafafa;
  border: 1px solid lightgray;
}

header {
  color: white;
}

nav > a {
  color: black;
  text-decoration: none;
}

nav > a:hover {
  background: lightgray;
}
